
body { font-family: Arial; margin: 20px; background: #f5f6fa; }

.header {
  display:flex;
  justify-content: space-between;
  align-items:center;
}

h1 { color: #2f3640; margin: 0; }

.logo { height: 50px; }

.proyecto-titulo { font-size: 0.99em; margin-left: 10px; color: #555; }

.barra-superior {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 15px;
  gap: 10px;
}

.panel-derecho {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}

.filtro-version {
  display: flex;
  align-items: center;
  gap: 5px;
}

.tabs {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-top: 10px;
}

.tab-button {
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.tab-button.active {
  background-color: #007bff;
  color: white;
}

.view { display: none; margin-top: 20px; }
.active { display: block; }

.grid-kpi {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.grid-graficos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  margin-top:15px;
}

.grid-graficos .card {
  height: 260px;
}

.card {
  background: white;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

canvas {
      width: 100% !important;
      height: 180px !important;
      max-height: 180px !important;
    }

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

th, td {
  border: 1px solid #ddd;
  padding: 6px;
  text-align: center;
}

th { background: #eee; }

.separador_A {
  height: 12px;
  background: transparent;
  border-bottom: 5px solid #3476bd;
  margin-bottom: 15px;
}

.separador_B {
  height: 2px;
  background: transparent;
  border-bottom: 15px solid rgb(255, 255, 255);
  margin-bottom: 15px;
}

.tipo-issue {
  background-color: #ffe6e6; /* rojo suave */
}

.tipo-test {
  background-color: #e6ffe6; /* verde suave */
}